VITE_SITE_URL=https://diwansuite.com
VITE_SITE_NAME=Diwan Suite
VITE_SITE_NAME_AR=ديوان سويت
VITE_OPERATOR_NAME=Fekra Software Information Technology Establishment
VITE_SITE_EMAIL=info@diwansuite.com
VITE_SUPPORT_EMAIL=support@diwansuite.com
VITE_PRIVACY_EMAIL=privacy@diwansuite.com
VITE_LEGAL_EMAIL=legal@diwansuite.com
VITE_SITE_PHONE=+966560000934
VITE_SITE_CITY=Riyadh
VITE_SITE_REGION=Riyadh
VITE_SITE_COUNTRY=Saudi Arabia
VITE_SITE_COUNTRY_CODE=SA
VITE_GA_MEASUREMENT_ID=G-89KXWWPK2Y
VITE_GTM_ID=GTM-MVPM5LM6
VITE_WEB_VITALS_ENDPOINT=
VITE_ERROR_REPORTING_ENDPOINT=
VITE_BASE_PATH=/
VITE_WHATSAPP_URL=https://wa.me/message/BM4LVAE7ZZZMG1
VITE_JUDICIAL_CITY_AR=المدينة المنورة
VITE_JUDICIAL_CITY_EN=Al Madinah
